<h1>Posts</h1>

<p>
  {{link-to "New Post" "posts.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Body
        </th>
        <th>
          Published at
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |post|}}
        <tr>
          <td>
            {{post.title}}
          </td>
          <td>
            {{post.body}}
          </td>
          <td>
            {{post.publishedAt}}
          </td>
          <td>
            {{link-to "Edit" "posts.edit" post}}
          </td>
          <td>
            {{link-to "Show" "posts.show" post}}
          </td>
          <td>
            <a href="#" {{action "remove" post}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Posts found
  </p>
{{/if}}
